language: cpp

compiler: gcc

before_install:
    # http://www.ubuntuupdates.org/ppa/getdeb_games for libbullet-dev >= 2.7
    - wget -q -O - http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -
    - sudo sh -c 'echo "deb http://archive.getdeb.net/ubuntu precise-getdeb games" > /etc/apt/sources.list.d/getdeb.list'
    - sudo add-apt-repository -y ppa:zoogie/sdl2-snapshots # libsdl2-dev, libsdl2-image-dev
    - sudo apt-add-repository -y ppa:sfttech/random # libepoxy-dev
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test # sane g++ for c++11
    - sudo apt-get update -qy

# NB: this below list must be kept in sync with `README.md`
install:
    - sudo apt-get install -qy libconfig-dev build-essential gcc-4.8 g++-4.8 cmake cmake-data libsdl2-dev libsdl2-image-dev libepoxy-dev libbullet-dev libfreetype6-dev
    - wget http://launchpadlibrarian.net/157997579/libassimp3_3.0~dfsg-2_amd64.deb http://launchpadlibrarian.net/157997580/libassimp-dev_3.0~dfsg-2_amd64.deb http://launchpadlibrarian.net/205738508/libglm-dev_0.9.6.3-1_all.deb
    - sudo dpkg -i libassimp3_3.0~dfsg-2_amd64.deb libassimp-dev_3.0~dfsg-2_amd64.deb libglm-dev_0.9.6.3-1_all.deb
    # taken from http://gearchicken.com/wordpress/?p=105
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
    - wget http://enet.bespin.org/download/enet-1.3.13.tar.gz
    - tar xfv enet-1.3.13.tar.gz
    - pushd enet-1.3.13
    - ./configure
    - make
    - sudo make install
    - popd

script:
    - cmake .
    - make
    - make test

